# Files and paths to ignore

.prettierignore
pnpm-lock.yaml
.earthlyignore

.venv
**/parsers/test/mocks
.pytest_cache/

# Temporarily disables folder
web-old

# disabling index.html as we want to keep longer lines to make scanning easier
# TODO: Move this to .prettierrc overwrites instead
web/index.html

mobileapp/android
mobileapp/ios

web/public/client-version.json
web/public/dist/
web/config/
#web/public/images/

web/.husky/_

mockserver/public

.github/ISSUE_TEMPLATE/

LICENSE.md

dist
node_modules
.DS_Store
.eslintcache
coverage
.nyc_output
cypress/videos
cypress/screenshots