# Files and paths to ignore

.prettierignore
pnpm-lock.yaml
.earthlyignore

.venv
**/parsers/test/mocks
.pytest_cache/

# Temporarily disables folder
web-old

# TODO: Temp ignore to make progress
web/src/components/TimeAverageToggle.tsx
web/src/features/time/TimeControllerWrapper.tsx


mobileapp/android
mobileapp/ios

web/public/client-version.json
web/public/dist/
web/config/
#web/public/images/

web/.husky/_

mockserver/public

.github/ISSUE_TEMPLATE/

LICENSE.md

dist
node_modules
.DS_Store
.eslintcache
coverage
.nyc_output
cypress/videos
cypress/screenshots